/* buttons */

.btn {
    font-weight: 200;
    font-weight: 400;
    border-radius: 4px;
    margin-bottom: 50px;
    border: none;
}

.btn-primary {
    transition: .8s;
    border-radius: 50px;
    margin: 20px 0;
    padding: 10px 40px;
    background: #1097ad;
}

.btn:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
