.card-image {
    height: auto;
    width: 100%;
    padding: 50px;
    &:hover {
        background: rgba(25, 25, 25, .9);
        transition: .9s;
    }
}

.card-description {
    padding: 10px;
    margin-top: -80px;
    display: none;
    h5,
    p {
        color: white;
    }
    &:hover {
        display: block;
        text-decoration: none;
        position: fixed;
    }
}

.card-section:hover .card-description {
    display: block;
    text-decoration: none;
    position: absolute;
}

.card-section:hover .overlay {
    background: pink;
    transition: .9s;
}
