.item-section {
    position: absolute;
    margin-left: 17%;
    top: 0;
    z-index: 2;
    transition-duration: 2s;
    background: #fff;
    .fa-5x {
        font-size: 5em;
        float: right;
    }
    @media (max-width: 700px) {
        margin: 0px;
    }
}

#item-content {
    .item-images img {

        width: 100%;
        max-height: 300px;
    }
}
