.item-section {
	position: absolute;
	margin-left: 17%;
	top: 0;
	z-index: 2;
	transition-duration: 2s;
	background: #fff;
	.fa-5x {
		font-size: 5em;
		float: right;
	}
	@media (max-width: 700px) {
		margin: 0px;
	}
}

#item-content {
	.item-images .col-sm-3 {
		background-size: 100%!important;
		background-position: center center!important;
		height: 200px;
	}
	img {
		width: 100%;
	}

	h2 {
		.animalCop {
			color: #55bfda;
		}
		.barrington {
			color: #001F45;
		}
	}
	h3 {
		padding-top: 30px;
		color: #6a6d70;
	}

	h3.lines::after,
	h3.lines::before {
		border-bottom: 5px solid #dadfe2;
		content: "";
		display: inline-block;
		height: .1em;
		position: relative;
		vertical-align: middle;
		margin-bottom: .15em;
		width: 25%;
	}
	h3.lines::before {
		right: 5%;
	}
	h3.lines::after {
		left: 5%;
	}
	.feature {
		img {}
		h4 {
			border-right: 2px solid $light-grey;
			padding-right: 10px;
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: right;
		}
		.vertical-center {
			height: 100vh;
		}
	}

}

.figure {
	img {
		box-shadow: 0 5px 10px lightgrey;
	}
	.figure-caption {
		padding: 30px;
	}
}
