/*
 * Sidebar
 */

$gutter: 15px;
$animate: all 0.2s ease-in-out;
$rounded: 4px;

.sidebar {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    .nav {
        .nav-item {
            width: 100%;
            text-align: center;

        }
        a.nav-link {
            border-radius: 0;
            font-size: 16px;
            color: #2d215b;
            font-weight: $light;

            &:active,
            &:hover {
                transition-duration: .5s;
                background: none;
                text-decoration: underline;
                transition: $animate;
                transition-duration: 0.75s;
                padding: 0px;
            }

        }
    }

}
