/*
 * Sidebar
 */

.sidebar {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 20px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    background: $light-blue;
    width: 100%;

    .nav {
        margin-bottom: 20px;

        .nav-item {
            width: 100%;
            padding: 10%;
            text-align: center;
        }
        a.nav-link {
            border-radius: 0;
            font-size: 16px;
            color: #fff;
            &:active,
            &:hover {
                font-weight: $bold;
                transition-duration: .5s;
            }
            &:focus {}
            &:visited {}

        }
    }

}
