body {
    position: relative;
    background: white;
}

.introSection {
    text-align: center;
    .jumbotron {
        width: 60%;
        margin-left: 20%;
    }
}



/* SVG logo animation */

.intro {
    background-color: green;
    height: 100vh;
}


.right-section {
    border-left: solid #fbfbfb;
    background-image: url(../bg_assets/bg1.png);
}
