body {
	position: relative;
	background: white;
}

.introSection {
	text-align: center;
	.jumbotron {
		width: 60%;
		margin-left: 20%;
	}
}

.img-thumbnail {
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	border: none;
}

.animalCop {
	background: #5c6bc0;
}

.mindful {
	background: #a5d6d6;
}

.barrington {
	background: #001F45;
}

.qchat {
	background: #c9e6fe;

}

.yemen {
	background: #d3dbee;
}

.processfolio {
	background: #97c6c6;
}

.dentist {
	background: #E5F4F7;
}

.crowdrise {
	background: #FF2F00;
}



.jack {
	background: url(/Users/Sarah/Documents/GitHub/portfolio_2018/src/img/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


//Preloader content
#preloader-1 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 99;
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(/src/img/site/preloader-1.gif);
	/* path to your loading animation */
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
	/* is width and height divided by two */
}
