body {
	position: relative;
	background: white;
}

.introSection {
	text-align: center;
	.jumbotron {
		width: 60%;
		margin-left: 20%;
	}
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 10;
}

.animalCop {
	background: #5c6bc0;
}

.mindful {
	background: #a5d6d6;
}

.barrington {
	background: #001F45;
}

.qchat {
	background: #B090E8;
}

.yemen {
	background: #d3dbee;
}

.processfolio {
	background: #97c6c6;
}

.crowdrise {
	background: #ecc4b1;
}

.jack {
	background: url(/Users/Sarah/Documents/GitHub/portfolio_2018/src/img/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.bottom-curve {
	background: url(/Users/Sarah/Documents/GitHub/portfolio_2018/src/img/bg1.svg);
	height: 20vh;
	bottom: 0;
	background-repeat: repeat-x; //hide on small screens
	@media (max-width: 700px) {
		display:none;
	}
}


//Preloader content
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	/* change if the mask should have another color then white */
	z-index: 99;
	/* makes sure it stays on top */
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(src/img/preloader.gif);
	/* path to your loading animation */
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
	/* is width and height divided by two */
}
