// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:300,400,700|Abril+Fatface:400,700');

// Font Variables
$abril:'Abril Fatface',
cursive;
$raleway:'Raleway',
serif;

$roboto-slab: 'Roboto Slab',
serif;
$lato: 'Lato',
sans-serif;

h3,
h4,
h5 {
    font-family: $lato;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #232526;
    line-height: 1.1;
}

h1,
h2 {
    font-family: $abril;
    padding-bottom: 10px;
    color: #c1c1c1;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
    font-variant-caps: all-small-caps;
}

h4 {
    font-size: 1.2em;
    font-weight: bolder;
}

h6 {
    font-size: 1.5em;
    font-weight: bolder;
    font-variant-caps: all-small-caps;
}

p,
ol,
li,
ul {
    font-family: $raleway;
    font-weight: $light;
    color: #000;
    font-size: 1em;
}

.figure-caption {
    font-family: $lato;
    font-weight: 100;
    color: #000;
    font-size: .9em;
}

i {
    font-family: $lato;
    color: #000;
    font-size: .9em;
    margin-bottom: 20px;
}

a {
    font-family: $lato;
    color: blue;
    font-weight: 400;
}

hr {
    height: 1px;
    border: none;
    color: #000;
    background-color: #000;
}

.bold {
    font-weight: $bold;
}

.italic {
    font-style: italic;
    font-weight: $bold;
    border-left: 1px black solid;
    padding-left: 15px;
}

.light {
    font-weight: $light;
}
