// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Arimo|Arimo:300,400,700|Georgia|Abril+Fatface:400,700');

// Font Variables
$abril:'Abril Fatface',
cursive;


$roboto-slab: 'Roboto Slab',
serif;
$lato: 'Arimo',
sans-serif;
$georgia:'Georgia',
serif;

h3,
h4,
h5 {
	font-family: $lato;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #232526;
	line-height: 1.1;
}

h1 {
	font-family: $abril;
	padding-bottom: 10px;
	color: $light-grey;
}

h1 {
	text-align: center;
	font-size: 2em;
}



h2 {
	font-family: $abril;
	font-size: 3em;
}

h3 {
	font-size: 2.2em;
	font-variant-caps: all-small-caps;
	font-weight: 600;

}

h4 {
	font-size: 1.2em;
	font-weight: bolder;
}

h6 {
	font-size: 1.5em;
	font-weight: bolder;
	font-variant-caps: all-small-caps;
}

p,
	{
	font-family: $georgia;
	color: #000;
	font-size: 1.2em;
	line-height: 1.8;
}

li,
ul,
ol,
	{
	font-family: $georgia;
	color: #000;
	font-size: 1.1em;
}

.figure-caption {
	font-family: $lato;
	font-weight: 100;
	color: #000;
	font-size: .9em;
}

i {
	font-family: $lato;
	color: #000;
	margin-bottom: 20px;
}

a {
	font-family: $lato;
	color: blue;
	font-weight: 400;
}

hr {
	height: 1px;
	border: none;
	color: #000;
	background-color: #000;
}

.bold {
	font-weight: $bold;
}

.italic {
	font-style: italic;
	padding-left: 15px;
	font-size: 1.2em;
	border-left: 1px black solid;
	font-weight: $bold;
}

.light {
	font-weight: $light;
}

.title {
	font-size: 42px;
}
