.box {
	border: 1px solid black;
}

.centered {
	justify-content: center!important;
}

.vertical-center {
	align-items: center!important;
	justify-content: center;
}

.full-height {
	height: 100vh;
}


.col-centered {
	margin: 0 auto;
	float: none;
}

.no-shadow {
	box-shadow: none!important;
}
